<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-tasks me-2"></i>Actiuni Rapide
        </div>
        <div class="card-body">
            <div class="d-grid gap-2">
                <a href="/Companie/Create" class="btn btn-primary">
                    <i class="fas fa-plus me-2"></i>Adauga Companie
                </a>
                <a href="/Depozit/Create" class="btn btn-success">
                    <i class="fas fa-warehouse me-2"></i>Adauga Depozit
                </a>
                <a href="/User/Create" class="btn btn-info">
                    <i class="fas fa-user-plus me-2"></i>Adauga Utilizator
                </a>
                <a href="/Rapoarte/Index" class="btn btn-warning">
                    <i class="fas fa-file-alt me-2"></i>Vezi Rapoarte
                </a>
            </div>
        </div>
    </div>
</div>